@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

html {
	font-family: "Outfit", sans-serif;
	background-color: #d5e1ef;
	color: #1f314f;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
}

.parent-container {
	display: grid;
	place-items: center;
	min-width: 100vw;
	min-height: 100vh;
}

.qr-container {
	background-color: white;
	width: 320px;
	height: 499px;
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 25px 25px rgba(0, 0, 0, 0.0477);
}

.qr-code-image {
	text-align: center;
	padding-top: 16px;
}

.qr-code-image img {
	width: 288px;
	height: 288px;
	border-radius: 10px;
}

.qr-code-text {
	width: 288px;
	height: 131px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 16px 16px;
}

.qr-code-text h1 {
	font-weight: bold;
	font-size: 22px;
	line-height: 120%;
	letter-spacing: 0px;
	width: 256px;
	height: 52px;
	margin: 0;
}

.qr-code-text p {
	line-height: 140%;
	letter-spacing: 0.2px;
	font-size: 15px;
	width: 256px;
	height: 63px;
}
